<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/editform.css' />
</head>

<body>
    <!-- <h1>用户信息</h1>
    <a href="/users">返回</a> -->
    <div class="edit-container">
        <div class="header">
            <h1>登录</h1>
            <p class="error-message">
                <% if(errMsg) { %>
                    <%= errMsg%>
                <% } %>

            </p>
        </div>
        <form id="editForm" action="/login/loginto" method="POST">
            <div class="form-group">
                <label for="username" class="required">用户名</label>
                <input type="text" id="username" name="username" placeholder="请输入您的账号" required>
            </div>

            <div class="form-group">
                <label for="password" class="required">密码</label>
                <input type="password" id="password" name="password" placeholder="请输入您的密码" required>

            </div>
            <div class="button-group">
                <button type="button" class="btn btn-secondary" onclick="back()">取消</button>
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </form>
        <div class="form-footer">
            <p>带 <span style="color: #e74c3c;">*</span> 的字段为必填项</p>
        </div>
    </div>
    <script>
        function back(){
            location.href='/employees'
        }
    </script>
</body>

</html>